Repository Sundae-Gukbap/Banchango-AI, pull requests merged in 2024-09, with the labels that each got.

#42 [Android] feat: 재료 목록 보기 개발(#41)
  Android/.idea/deploymentTargetSelector.xml
  Android/app/build.gradle.kts
  Android/core/data-api/src/main/java/com/sundaegukbap/banchango/core/data/repository/api/IngredientRepository.kt
  Android/core/data/src/main/java/com/sundaegukbap/banchango/core/data/api/IngredientApi.kt
  Android/core/data/src/main/java/com/sundaegukbap/banchango/core/data/api/model/ContainerDto.kt
  Android/core/data/src/main/java/com/sundaegukbap/banchango/core/data/api/model/ContainerIngredientDto.kt
  Android/core/data/src/main/java/com/sundaegukbap/banchango/core/data/api/model/ContainerIngredientDtos.kt
  Android/core/data/src/main/java/com/sundaegukbap/banchango/core/data/api/model/IngredientDto.kt
  Android/core/data/src/main/java/com/sundaegukbap/banchango/core/data/di/ApiModule.kt
  Android/core/data/src/main/java/com/sundaegukbap/banchango/core/data/di/RepositoryModule.kt
  Android/core/data/src/main/java/com/sundaegukbap/banchango/core/data/mapper/IngredientMapper.kt
  Android/core/data/src/main/java/com/sundaegukbap/banchango/core/data/repository/DefaultIngredientRepository.kt
  Android/core/data/src/main/java/com/sundaegukbap/banchango/core/data/repository/FakeIngredientRepository.kt
  Android/core/designsystem/src/main/java/com/sundaegukbap/banchango/core/designsystem/theme/Color.kt
  Android/core/model/src/main/java/com/sundaegukbap/banchango/Container.kt
  Android/core/model/src/main/java/com/sundaegukbap/banchango/ContainerIngredient.kt
  Android/core/model/src/main/java/com/sundaegukbap/banchango/IngredientContainer.kt
  Android/core/model/src/main/java/com/sundaegukbap/banchango/IngredientContainers.kt
  Android/core/model/src/main/java/com/sundaegukbap/banchango/IngredientKind.kt
  Android/core/model/src/main/java/com/sundaegukbap/banchango/KindIngredientContainer.kt
  Android/feature/home/build.gradle.kts
  Android/feature/home/src/main/java/com/sundaegukbap/banchango/feature/home/HomeScreen.kt
  Android/feature/home/src/main/java/com/sundaegukbap/banchango/feature/home/HomeViewModel.kt
  Android/feature/home/src/main/java/com/sundaegukbap/banchango/feature/home/navigation/HomeNavigator.kt
  Android/feature/home/src/main/res/drawable/ic_add.xml
  Android/feature/recipe/build.gradle.kts
Labels: AN

#45 [Server] feat : 각종 수정 (#44)
  Server/banchango/src/main/java/com/sundaegukbap/banchango/bookmark/presentation/RecipeBookmarkController.java
  Server/banchango/src/main/java/com/sundaegukbap/banchango/common/HealthCheckController.java
  Server/banchango/src/main/java/com/sundaegukbap/banchango/container/application/ContainerService.java
  Server/banchango/src/main/java/com/sundaegukbap/banchango/container/dto/dto/ContainerDto.java
  Server/banchango/src/main/java/com/sundaegukbap/banchango/container/presentation/ContainerController.java
  Server/banchango/src/main/java/com/sundaegukbap/banchango/ingredient/presentation/IngredientController.java
  Server/banchango/src/main/java/com/sundaegukbap/banchango/recipe/presentation/RecipeController.java
  Server/banchango/src/main/resources/application-local.properties
Labels: Feature, Fix, Server

#46 [Server] git actions를 사용한 배포 자동화
  .github/workflows/gradle.yml
  Server/banchango/Dockerfile
  Server/banchango/src/main/java/com/sundaegukbap/banchango/common/HealthCheckController.java
  Server/banchango/src/main/resources/application-prod.properties
  Server/banchango/src/main/resources/application.properties
Labels: Feature, Server

#48 [Server] 엔티티 수정(#47)
  Server/banchango/src/main/java/com/sundaegukbap/banchango/ingredient/domain/RecipeMainIngredient.java
  Server/banchango/src/main/java/com/sundaegukbap/banchango/recipe/domain/Recipe.java
Labels: Feature, Server

#49 [Server] Fix : url관련 기능 수정
  Server/banchango/src/main/java/com/sundaegukbap/banchango/recipe/domain/Recipe.java
Labels: Fix, Server
