Repository Sundae-Gukbap/Banchango-AI, pull requests merged in 2024-10, with the labels that each got.

#51 [Server] feat : 추천 레시피 관련 추가 요구사항 처리 (#50)
  Server/banchango/src/main/java/com/sundaegukbap/banchango/ai/application/AiRecipeRecommendClient.java
  Server/banchango/src/main/java/com/sundaegukbap/banchango/ai/dto/AiRecipeRecommendRequest.java
  Server/banchango/src/main/java/com/sundaegukbap/banchango/ai/dto/AiRecipeRecommendResponse.java
  Server/banchango/src/main/java/com/sundaegukbap/banchango/bookmark/application/RecipeBookmarkService.java
  Server/banchango/src/main/java/com/sundaegukbap/banchango/bookmark/presentation/RecipeBookmarkController.java
  Server/banchango/src/main/java/com/sundaegukbap/banchango/config/AppConfig.java
  Server/banchango/src/main/java/com/sundaegukbap/banchango/config/JpaAuditingConfig.java
  Server/banchango/src/main/java/com/sundaegukbap/banchango/container/application/ContainerService.java
  Server/banchango/src/main/java/com/sundaegukbap/banchango/ingredient/application/IngredientMatcher.java
  Server/banchango/src/main/java/com/sundaegukbap/banchango/ingredient/application/IngredientQueryService.java
  Server/banchango/src/main/java/com/sundaegukbap/banchango/ingredient/application/IngredientService.java
  Server/banchango/src/main/java/com/sundaegukbap/banchango/ingredient/domain/Ingredient.java
  Server/banchango/src/main/java/com/sundaegukbap/banchango/ingredient/dto/event/IngredientChangedEvent.java
  Server/banchango/src/main/java/com/sundaegukbap/banchango/ingredient/presentation/IngredientController.java
  Server/banchango/src/main/java/com/sundaegukbap/banchango/recipe/application/RecipeQueryService.java
  Server/banchango/src/main/java/com/sundaegukbap/banchango/recipe/application/RecipeService.java
  Server/banchango/src/main/java/com/sundaegukbap/banchango/recipe/domain/Recipe.java
  Server/banchango/src/main/java/com/sundaegukbap/banchango/recipe/domain/RecipeCategory.java
  Server/banchango/src/main/java/com/sundaegukbap/banchango/recipe/domain/RecipeDifficulty.java
  Server/banchango/src/main/java/com/sundaegukbap/banchango/recipe/domain/UserRecommendedRecipe.java
  Server/banchango/src/main/java/com/sundaegukbap/banchango/recipe/dto/RecommandedRecipeResponses.java
  Server/banchango/src/main/java/com/sundaegukbap/banchango/recipe/dto/dto/RecipeDto.java
  Server/banchango/src/main/java/com/sundaegukbap/banchango/recipe/dto/dto/RecipeUserRelation.java
  Server/banchango/src/main/java/com/sundaegukbap/banchango/recipe/dto/event/RecommendedRecipeCategoryChangedEvent.java
  Server/banchango/src/main/java/com/sundaegukbap/banchango/recipe/dto/response/RecommendedRecipeResponse.java
  Server/banchango/src/main/java/com/sundaegukbap/banchango/recipe/dto/response/RecommendedRecipeResponses.java
  Server/banchango/src/main/java/com/sundaegukbap/banchango/recipe/presentation/RecipeController.java
  Server/banchango/src/main/java/com/sundaegukbap/banchango/recipe/repository/RecipeRepository.java
  Server/banchango/src/main/java/com/sundaegukbap/banchango/recipe/repository/RecommandedRecipeRepository.java
  Server/banchango/src/main/java/com/sundaegukbap/banchango/recipe/repository/RecommendedRecipeRepository.java
  Server/banchango/src/main/resources/application-local.properties
  Server/banchango/src/main/resources/application.properties
  Server/banchango/src/test/java/com/sundaegukbap/banchango/recipe/application/RecipeServiceTest.java
  Server/banchango/src/test/java/com/sundaegukbap/banchango/recipe/presentation/RecipeControllerTest.java
Labels: Feature, Server

#55 feat : swagger에 https 설정 추가
  Server/banchango/src/main/java/com/sundaegukbap/banchango/config/SwaggerConfig.java
Labels: Feature, Chore, Server

#56 [Server] fix : 배포후 발생한 문제들 해결(#50, #54)
  Server/banchango/src/main/java/com/sundaegukbap/banchango/config/SwaggerConfig.java
  Server/banchango/src/main/java/com/sundaegukbap/banchango/recipe/application/RecipeService.java
  Server/banchango/src/main/java/com/sundaegukbap/banchango/recipe/domain/Recipe.java
  Server/banchango/src/main/java/com/sundaegukbap/banchango/recipe/presentation/RecipeController.java
  Server/banchango/src/main/resources/application.properties
Labels: Feature, Fix, Refactor, Server

#57 냉장고 칸별 재료 목록보기 추가
  Android/core/data-api/src/main/java/com/sundaegukbap/banchango/core/data/repository/api/IngredientRepository.kt
  Android/core/data/build.gradle.kts
  Android/core/data/src/main/java/com/sundaegukbap/banchango/core/data/api/IngredientApi.kt
  Android/core/data/src/main/java/com/sundaegukbap/banchango/core/data/api/model/AddIngredientContainerRequest.kt
  Android/core/data/src/main/java/com/sundaegukbap/banchango/core/data/di/ApiModule.kt
  Android/core/data/src/main/java/com/sundaegukbap/banchango/core/data/di/RepositoryModule.kt
  Android/core/data/src/main/java/com/sundaegukbap/banchango/core/data/repository/DefaultIngredientRepository.kt
  Android/core/data/src/main/java/com/sundaegukbap/banchango/core/data/repository/FakeIngredientRepository.kt
  Android/core/designsystem/src/main/java/com/sundaegukbap/banchango/core/designsystem/component/NetworkImage.kt
  Android/core/model/src/main/java/com/sundaegukbap/banchango/IngredientContainers.kt
  Android/feature/home/build.gradle.kts
  Android/feature/home/src/main/java/com/sundaegukbap/banchango/feature/home/HomeScreen.kt
  Android/feature/home/src/main/java/com/sundaegukbap/banchango/feature/home/HomeState.kt
  Android/feature/home/src/main/java/com/sundaegukbap/banchango/feature/home/HomeViewModel.kt
  Android/feature/home/src/main/java/com/sundaegukbap/banchango/feature/home/component/IngredientItem.kt
  Android/gradle/libs.versions.toml
Labels: AN
